# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/OpcDbGatewayEnhancements/ParamChildStdOutReader/DevVS2005/Release_VS2005/Example1.exp
.vs/OpcDbGatewayEnhancements/ParamChildStdOutReader/DevVS2005/Release_VS2005/Example1.exp
.vs/OpcDbGatewayEnhancements/ParamChildStdOutReader/DevVS2005/Release_VS2005/Example1.pdb
.vs/OpcDbGatewayEnhancements/v15/.suo
